@model IEnumerable<OnlineStore.Models.Users.Driver>

@{
	ViewBag.Title = "DriverIndex";
}

<h2>DriverIndex</h2>

<p>
	@Html.ActionLink("Create New", "Driver")
</p>
<table class="table">
	<tr>
		@*<th>
				@Html.DisplayNameFor(model => model.DriverID)
			</th>*@
		<th>
			@Html.DisplayNameFor(model => model.FirstName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.LastName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ContactNo)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Gender)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Email)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DriverImage)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Password)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ConfirmPassword)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			@*<td>
					@Html.DisplayFor(modelItem => item.DriverID)
				</td>*@
			<td>
				@Html.DisplayFor(modelItem => item.FirstName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.LastName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ContactNo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Gender)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Email)
			</td>
			<td>
				<img src="data:image/png;base64,@Convert.ToBase64String(item.DriverImage, 0, item.DriverImage.Length)" style="width: 80px; height:80px" />

			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Password)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ConfirmPassword)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.DriverID }) |
				@Html.ActionLink("Details", "Details", new { id = item.DriverID }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.DriverID })
			</td>
		</tr>
	}

</table>
